.playlist__play a i{
    width: 35px;
    height: 35px;
    color: #00cc00;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 50%;
    font-size: 4.5rem;
    font-weight: bold;   
    opacity: 100%;
}
.playlist__play{
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    padding: 55px;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(82, 122, 122,0.2);
    transform: translateX(-50%);
    border-radius: 5px;
    transition: 0.3s ease;
    opacity: 0;
}
.playlist__play a{
    text-decoration: none;
    cursor: pointer;
}
.playlist__card:hover .playlist__play{
    top: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
}
.playlist__play a :hover {
    transition: 0.5s ease;
    color: #1aff1a;
}